* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #0f1012;
  font-family: "Sora", sans-serif;
}
li {
  list-style-type: none;
}

.marca_texto {
  color: #91a7ff;
}

.container {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}
.content_header h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  color: #adb5bd;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #bac8ff;
}
h5 {
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 150%;
  color: #868e96;
}

.logo {
  margin-top: 32px;
  width: 250px;
  margin-bottom: 50px;
}
.tags {
  display: flex;
  align-items: center;
  color: #b197fc;
  gap: 24px;
}

.tags h4 {
  background: #212529;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
}

.content_header {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content_header h1 {
  width: 74%;
}

.content_header h2 {
  width: 70%;
}
/*Section Main do site (o que é que eu faço)*/
.content_main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_text {
  display: flex;
  flex-direction: column;
}
.content_text h2 {
  margin-top: 16px;
  width: 34%;
}
.content_text p {
  margin-top: 8;
  width: 48%;
}

.content_list {
  display: flex;
  flex-direction: column;
}
.text_lista {
  font-size: 16px;
  color: #fff;
  line-height: 150%;
  font-weight: 400;
}

.text_lista li {
  padding-bottom: 32px;
}
.text_lista img {
  margin-right: 16px;
}
/*Section CARDS*/

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.content_cards {
  gap: 8px;
  width: 324px;
  background-color: #212529;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 32px;
  flex-wrap: wrap;
}

.content_cards img {
  width: 48px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .logo {
    margin-top: 32px;
    width: 200px;
    margin-bottom: 40px;
  }
  h1 {
    font-size: 48px;
  }
  .content_header h1 {
    width: 90%;
  }
  .content_header h2 {
    width: 80%;
  }
  .content_header {
    gap: 12px;
  }
  .seta {
    margin-top: 48px;
  }
  .content_main h2 {
    font-size: 24px;
    width: 56%;
  }
  .content_main p {
    width: 80%;
  }
  .text_lista li {
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .tags h4 {
    font-size: 12px;
  }
  .content_header h1 {
    width: 100%;
    font-size: 36px;
  }
  .content_header h2 {
    font-size: 24px;
    width: 80%;
  }
  .content_main {
    flex-wrap: wrap;
    gap: 32px;
  }
  .content_text h2 {
    font-size: 24px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .logo {
    width: 156px;
  }
  .tags h4 {
    font-size: 12px;
  }
  .content_header h1 {
    width: 100%;
    font-size: 30px;
  }
  .content_header h2 {
    font-size: 23px;
    width: 100%;
  }
}
